<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录felix商城后台管理系统</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <script src="{:config('static_admin')}/js/cloud.js" type="text/javascript"></script>
    <script language="javascript">
    $(function() {
        $('.loginbox').css({
            'position': 'absolute',
            'left': ($(window).width() - 692) / 2
        });
        $(window).resize(function() {
            $('.loginbox').css({
                'position': 'absolute',
                'left': ($(window).width() - 692) / 2
            });
        })
    });
    </script>
</head>

<body style="background-color:#1c77ac; background-image:url({:config('static_admin')}/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>
    <div class="logintop">
        <span>欢迎使用felix商城后台管理系统</span>
        <ul>
            <li><a href="/" target="_blank">商城首页</a></li>
        </ul>
    </div>
    <form action="{:url('/admin/public/login')}" method="post">
        <div class="loginbody">
            <span class="systemlogo"></span>
            <div class="loginbox">
                <ul>
                    <li>
                        <input name="username" type="text" class="loginuser" placeholder="用户名" />
                    </li>
                    <li>
                        <input name="password" type="password" class="loginpwd" placeholder="密码" />
                    </li>
                    <li>
                        <input type="text" name="captcha" style="width: 100px" class="loginpwd" placeholder="验证码" />
                        <img src="{:captcha_src()}" alt='验证码' id='changeCaptcha' />
                    </li>
                    <li>
                        <input name="" type="submit" class="loginbtn" value="登录" />
                        <label><a href="#">忘记密码？</a></label>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="loginbm">版权所有 &copy;2018 <a href="http://www.itcast.cn/php">文化有限公司</a> </div>
</body>
<script type="text/javascript">
    $("#changeCaptcha").click(function(){
        $(this).attr('src',"{:captcha_src()}?_=" + new Date().getTime());
    });
    //自执行单击事件（放置验证码缓存）
    //页面打回来的时候，js代码会重新执行一遍，但html代码还是之前的缓存数据
    $("#changeCaptcha").click();
</script>

</html>
