<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">新增用戶</span>

        </div>
        <form action="" method="post">
            <ul class="forminfo">
                <li>
                    <label>商品屬性名稱</label>
                    <input name="attr_name" placeholder="请输入用戶名稱" type="text" class="dfinput" />
                <li>
                <li>
                    <label>商品類型</label>
                    <select name="type_id" >
                        <option >請選擇類型</option>
                        {foreach  name="typeDate" item="v"}
                        <option value="{$v['type_id']}" >{$v['type_name']}</option>
                        {/foreach}
                    </select>
                <li>   
                <li>
                    <label>屬性類型</label>
                    <input type="radio" name="attr_type" checked="checked" value="0">唯一屬性
                    <input type="radio" name="attr_type"  value="1">單選屬性
                <li>
                <li>
                    <label>屬性錄入方式</label>
                    <input type="radio" name="attr_input_type" checked="checked" value="0">手工屬性
                    <input type="radio" name="attr_input_type"  value="1">列表屬性
                <li>                                                       
                    <label>屬性值</label>
                    <textarea name="attr_values"   class="dfinput"></textarea><i>多種屬性請用'|'隔開</i>
                </li>
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    $("textarea").prop('disabled',true);
    $("input[name='attr_input_type']").click(function(){
        var attr_input_type = $(this).val();
        if( attr_input_type == 0){
            $("textarea").prop('disabled',true).val('');
        }else{
            $("textarea").prop('disabled',false);
        }
    });
</script>

</html>
