<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/plugins/ueditor/ueditor.all.min.js"> </script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
            <span>商品属性信息</span>
            <span>商品相册</span>
            <span>商品描述</span>

        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <ul class="forminfo">
                <li>
                    <label>商品名称</label>
                    <input name="goods_name" placeholder="请输入商品名称" type="text" class="dfinput" /><i>名称不能超过30个字符</i>
                </li>
                <li>
                    <label>商品分類</label>
                    <select name="cat_id" >
                            <option value="">請選擇商品類型</option>
                            {foreach name='catedate' item='v'}
                            <option value="{$v['cat_id']}">{:str_repeat('--',$v['level'])}{$v['cat_name']}</option>
                            {/foreach}
                        </select>                    
                </li>
                <li>
                    <label>商品價格</label>
                    <input name="goods_price" placeholder="请输入商品数量" type="text" class="dfinput" />
                </li>
                <li>
                    <label>商品庫存</label>
                    <input name="goods_number" placeholder="请输入商品重量" type="text" class="dfinput" />
                </li>
                <!--
                <li><label>是否审核</label><cite><input name="" type="radio" value="" checked="checked" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="" type="radio" value="" />否</cite></li>
                -->
                <li>
                    <label>回收站中</label>
                    <input type="radio" checked="checked" name="is_delete" value="1">是
                    <input type="radio"  name="is_delete" value="0" >否
                </li>
                <li>
                    <label>上架</label>
                    <input type="radio" checked="checked" name="is_sale"  value="1">是
                    <input type="radio" name="is_sale" value="0">否
                </li>
                <li>
                    <label>新品</label>
                    <input type="radio" checked="checked" name="is_new"  value="1">是
                    <input type="radio" name="is_new" value="0" >否
                </li>
                <li>
                    <label>熱賣</label>
                    <input type="radio" checked="checked" name="is_hot"  value="1">是
                    <input type="radio" name="is_hot" value="0">否
                </li>   
                <li>
                    <label>推薦</label>
                    <input type="radio" checked="checked"  name="is_best"  value="1">是
                    <input type="radio" name="is_best" value="0" >否
                </li>                   
            </ul>
            <ul class="forminfo">
                    <li>
                        <label>商品类型</label>
                        <select name="type_id" class="dfinput">
                            <option value="">请选择商品类型</option>
                            {foreach name="typedate" item='v'}
                                <option value="{$v['type_id']}">{$v['type_name']}</option>
                            {/foreach}
                        </select>
                    </li>
                    <li id="attrContains">
                        <!-- 这里是存放动态生成的属性结构 -->
                    </li>
                </ul>
            <!-- 实现商品的多文件上传的区域 -->
            <ul class="forminfo">
                    <li>
                        <li>
                        <a href="javascript:;" onclick="cloneImg(this)">[+]</a> <input type="file" name="img[]">
                        </li>
                    </li>
                </ul>
            <ul class="forminfo">
                    <li>
                        <label>商品詳細描述</label>
                        <textarea id="goods_desc" name="goods_desc"></textarea>
                    </li>
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    // 切換商品 動態生成屬性
    $("select[name='type_id']").change(function(){
        var type_id = $(this).val();

        if(type_id == ''){
            return;
        }

        //发生ajax获取对应商品类型的属性
        $.get("{:url('/admin/goods/getAttr')}",{"type_id":type_id},function(res){
            console.log(res); // [obj,obj,obj.obj]
            //動態屬性框
            var html = "";

            html += "<ul>";

            // 循環生成li
            for(var i=0;i<res.length;i++){
                html += "<li>";
                    // 1.判斷是否單選屬性(attr_type =1),需要拼接[+]
                    // 
                    if(res[i].attr_type == 1){
                        html += "<a href='javascript:;' onclick = 'cloneAttr(this)' >[+]</a>";
                    }
                    // 2.拼接屬性的名稱
                    html += res[i].attr_name+':&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                    // 3.判斷屬性值錄入方式
                    // 表單的name字段以屬性attr_id進行分組
                    // 單選屬性需要拼接[],唯一屬性不用拼接
                    var hasmanyvalues = res[i].attr_type == 1 ? '[]':'';
                    if(res[i].attr_input_type == 0){
                        // 手工輸入 input
                        html += "<input name='goodsAttrValue["+res[i].attr_id+"]"+hasmanyvalues+"' class='dfinput' type='text'>"
                    }else{
                        // 列表選擇 select
                        html += "<select class='dfinput' name='goodsAttrValue["+res[i].attr_id+"]"+hasmanyvalues+"'>";
                            html += "<option value=''>請選擇</option>";
                            // 屬性的值通過|炸開
                            var attr_values = res[i].attr_values.split('|');
                            for(var j=0;j<attr_values.length;j++){
                                html += "<option value='"+attr_values[j]+"'>"+attr_values[j]+"</option>"
                            }
                        html += "</select>";
                    }
                    // 單選屬性,需要拼接價格輸入框
                    if(res[i].attr_type == 1){
                        html += "屬性價格:&nbsp<input name='goodsAttrPrice["+res[i].attr_id+"][]' placeholder='價格' style='width:100px' class='dfinput'  type = 'text' >"
                    }
                html += "</li>";

            }

            html += "</ul>";
            // 將最終編輯好的內容放回attrContains
            $("#attrContains").html(html);
            


        },'json');
    });


    //克隆单选属性
    function cloneAttr(ele){
        //获取当前a标签的内容
        var html = $(ele).html();
        if(html == '[+]'){
            //获取到当前元素的父元素（li）,进行克隆一份
            var newLi = $(ele).parent().clone();
            //把子元素a标签的内容改为[-]
            newLi.children('a').html('[-]');
            //把newLi元素追加到当前父元素的后面
            $(ele).parent().after(newLi);
        }else{
            //把当前父元素给移除remove()
            $(ele).parent().remove();
        }
    }

    //克隆圖片鏈接
    function cloneImg(ele){
        //獲取當前a標籤內容
        var html = $(ele).html();
            
            if( html == '[+]'){
                // 獲取當前元素的父元素<li>,進行克隆
                var newLi = $(ele).parent().clone();
                // 把newLi 子元素的a標籤內容梗概
                newLi.children('a').html('[-]');
                //將clone的文件不用複製
                newLi.children('input').val('');
                //把newLi 追加到當前父元素后面
                $(ele).parent().after(newLi);
            }else{
                //當前元素的父元素給移除remove()
                $(ele).parent().remove();
                
                }
        
        
    }

    $(".formtitle span").click(function(event){
        $(this).addClass('active').siblings("span").removeClass('active') ;
        var index = $(this).index();
        $("ul.forminfo").eq(index).show().siblings(".forminfo").hide();
    });
     $(".formtitle span").eq(0).click();

    //初始化富文本编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('goods_desc');
</script>

</html>
